// Light Mode Colors

$c-primary-light: #0b57d0;
$c-on-primary-light: #ffffff;
$c-surface1-light: #ffffff;
$c-surface2-light: #f8fafd;
$c-surface3-light: #f3f6fc;
$c-surface4-light: #c2e7ff;
$c-hover-light: #dde1e6;
$c-border-light: #e1e3e1;
$c-text1-light: #1f1f1f;
$c-text2-light: #444746;
$c-warning-light: #cc0000;

// Dark Mode Colors

$c-primary-dark: #a8c7fa;
$c-on-primary-dark: #062e6f;
$c-surface1-dark: #1f1f1f;
$c-surface2-dark: #28292a;
$c-surface3-dark: #2d2f31;
$c-surface4-dark: #004a77;
$c-hover-dark: #404243;
$c-border-dark: #444746;
$c-text1-dark: #e3e3e3;
$c-text2-dark: #c4c7c5;
$c-warning-dark: #ff4444;
